<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
{% block nav %}
   <nav class="navbar navbar-inverse">
  <div class="container-fluid">

    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="region/">Regional Data
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a class="nav-item nav-link" href="/plot_amb">Ambulance Distribution</a></li>
          <li><a class="nav-item nav-link" href="/plot_mr">MR Distribution</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="city/">City Data
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/plot_amb">Ambulance Distribution</a></li>
          <li><a href="/plot_mr">MR Distribution</a></li>
        </ul>
        <li><a href="/search_form">Search City</a></li>
        <li><a href="/add_investor">Add Investor</a></li>
    </ul>

  </div>
</nav>

{% endblock %}

{% block content %}
{% endblock %}

</body>
</html>