<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

{% block nav %}
   <nav class="navbar navbar-inverse">
  <div class="container-fluid">

    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Healthbooster</a></li>
      <li><a href="/add_person">Add Person</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="hospital/">Hospital
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/plot_pub">Public Hospital</a></li>
          <li><a href="/plot_expu">Total Hospital</a></li>
          <li><a href="/plot_poph">Number of people per hospital</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="beds/">Beds
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a class="nav-item nav-link" href="/plot_bed">Normal Beds</a></li>
          <li><a class="nav-item nav-link" href="/plot_spe">Exclusive Beds</a></li>
          <li><a class="nav-item nav-link" href="/plot_int">Intensive Care Beds</a></li>

        </ul>
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="devices/">Devices
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/plot_ul">Ultrasound Distribution</a></li>
          <li><a href="/plot_mr">MR Distribution</a></li>
          <li><a href="/plot_mam">Mammography Distribution</a></li>
          <li><a href="/plot_her">Hemodialysis Distribution</a></li>
          <li><a href="/plot_eko">Echocardiography Distribution</a></li>
        </ul>
        <li><a href="/plot_amb">Ambulance</a></li>
        <li><a href="/plot_dis">Dental Unit</a></li>
        <li><a href="/display">Display</a></li>
        <li><a href="/search_form">Search City</a></li>

    </ul>

  </div>
</nav>

{% endblock %}

{% block content %}
    {% load static %}
<div style="text-align:center"><img src="{% static 'Picture1.png' %}">
</div>
{% endblock %}

</body>
</html>