{% extends "base.html" %}
{% load bootstrap %}
{% block title %}All cities{% endblock %}

{% block content %}
<h2>Cities</h2>

{# Display the availability information here #}
<p>Total number of cities : {{ city_list | length }} </p>

<ul>
    {% for city in city_list%}
        <li>Name: {{ city.name}}/
            Region: {{ city.region }}/
            Population: {{ city.population}}/
            Number of people per hospital : {{ city.Hospital }}/
            Number of bed per ten thousand people: {{ city.Bed}}/
            Number of ambulance per one million people: {{ city.Ambulance}}
        </li>
    {% endfor %}
</ul>

{% if flag %}
    <h1>Thank you for visiting Healthbooster.</h1>
{% else %}
    <h1>See you later!</h1>
{% endif %}
{% endblock %}