{% extends "base.html" %}
{% load bootstrap %}
{% block title %}All cities{% endblock %}

{% block content %}
<h2>Cities</h2>

{# Display the availability information here #}
<p>There is {{ city_list | length }} city in our database.</p>

<ul>
    {% for city in city_list%}
        <li>Name: {{ city.name}},
            Region: {{ city.region }},
            Population: {{ city.population}}
        </li>
    {% endfor %}
</ul>

{% if flag %}
    <p>Thank you for visiting Healthbooster.</p>
{% else %}
    <p>See you later!</p>
{% endif %}
{% endblock %}